radio-tv/src/main/resources/preingestedRadioTVProgram.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:pbc="http://www.pbcore.org/PBCore/PBCoreNamespace.html">
    <xs:import namespace="http://www.pbcore.org/PBCore/PBCoreNamespace.html"
               schemaLocation="http://www.pbcore.org/PBCore/PBCoreSchema.xsd"/>
    <xs:element name="program" type="programType"/>
    <xs:complexType name="fileType">
        <xs:sequence>
            <xs:element type="xs:string" name="file_url"/>
         <!--The following are deprecated, but we can keep them in for now-->
            <xs:element type="xs:string" name="channel_id" minOccurs="0"/>
            <xs:element type="xs:string" name="program_start_offset" minOccurs="0"/>
            <xs:element type="xs:string" name="program_clip_length" minOccurs="0"/>
            <xs:element type="xs:string" name="file_name" minOccurs="0"/>
            <xs:element type="xs:string" name="md5_sum" minOccurs="0"/>
            <xs:element type="xs:string" name="format_uri" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="originalsType">
        <xs:sequence>
            <xs:element type="xs:string" name="ritzau_original"/>
            <xs:element type="xs:string" name="gallup_original"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="pbcoreType">
        <xs:sequence>
            <xs:element ref="pbc:PBCoreDescriptionDocument"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="program_recording_filesType">
        <xs:sequence>
            <xs:element type="fileType" name="file" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="programType">
        <xs:sequence>
            <xs:element type="pbcoreType" name="pbcore"/>
            <xs:element type="originalsType" name="originals"/>
            <xs:element type="program_recording_filesType"
                        name="program_recording_files"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
